/* -- Imported styles ----------------------------- */
@import url("global.css");
@import url("box.css");
@import url("style.css");
@import url("../../../vnt_upload/ckeditor/ck_style.css");

.menuTop>ul>li>ul>li.current>a{
    color:#fff1d3;
}

.menuTop>ul>li>ul>li {
	position: relative;
}
.menuTop>ul>li>ul>li ul  {
	position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px; 
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 40px);
  -moz-transform: translate(0, 40px);
  -ms-transform: translate(0, 40px);
  -o-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menuTop>ul>li>ul li:hover > ul {
	 -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}


.menuTop>ul>li>ul>li ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.menuTop>ul>li>ul>li ul li a {
  display: block;
  font-size: 14px;
  color: #387b2b;
  line-height: 20px;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menuTop>ul>li>ul>li ul li a.has_sub {
	position: relative;	
}
.menuTop>ul>li>ul>li ul li a.has_sub::after {

  content: "\f105";
  font-family: "Font Awesome 5 Free";
    font-weight: 900;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

}
.menuTop>ul>li>ul>li ul li:hover > a {
  padding: 10px 7px 10px 23px;
  background: #98ca4e;
  color: #ffffff
}



.menuTop>ul>li>ul>li> ul ul {
  top: 0;
  left: 100%;
  -webkit-transform: translate(40px, 0);
  -moz-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  -o-transform: translate(40px, 0);
  transform: translate(40px, 0);
}